.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .4s;
  @include md($break) {
    padding: 10px 30px;
  }
  &:hover {
    @each $btn, $btn-color in $btn-colors {
      &.#{$btn} {
        background-color: lighten($btn-color, 15%);
      }
    }
  }
  & + & {
    @include md($break) {
      margin-left: 10px;
    }
  }
}

@each $btn, $btn-color in $btn-colors {
  .#{$btn} {
    background-color: $btn-color;
  }
}
